/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('https://image.freepik.com/free-vector/retro-futuristic-landscape-background-with-sun_52683-18176.jpg');
    background-size: cover;
}

/* LAYOUT */
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
    background: rgba(255,255,255, .8);
    border-radius: 10px;
}


.app-header {
    margin: 0px 0px 30px;
    text-align: center;
}

.app-header h1 {
    margin-bottom: 1rem;
}

.app-header img {
    max-width: 300px;
}

/* NEW TODO */
.new-todo {
    display: flex;
}

.new-todo button,
.new-todo input {
    height: 35px;
    border: 0;
    outline: none;
}

.new-todo input {
    flex-grow: 1;
    margin-right: 20px;
    border-bottom: 1px solid #ccc;
    transition: border .3s;
    background-color: inherit;
}

.new-todo input:hover,
.new-todo input:focus {
    border-color: #000;
}

.new-todo button {
    padding: 0 30px;
    text-transform: uppercase;
    background: #00e165;
    cursor: pointer;
    border-radius: 30px;
    transition: background .2s, transform .2s, color .2s;
}

.new-todo button:hover,
.new-todo button:focus {
    color: #fff;
    background: #005e2a;
    transform: scale(1.15);
}

/* TODO LIST */
.todos-container {
    max-height: 200px;
    margin: 40px 0 0;
    padding: 15px 30px;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 15px 10px -10px rgba(0,0,0, .2);
    overflow-y: scroll;
}

.todos-container h3 {
    text-align: center;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.todo:last-child {
    border-bottom: none;
}

/* COMPLETED */
.todo .text.completed {
    text-decoration: line-through;
}

.todo .text.completed::after {
    content: 'DONE!';
    margin-left: 20px;
    background: lightgreen;
}

.todo .text {
    position: relative;
    padding: 0 30px;
}

.todo .text::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    transition: background .3s;
}

.todo .text.completed::before {
    background: #00e165;
}

.todo div i {
    color: rgba(0,0,0, .4);
    transition: color .2s, transform .2s;
    cursor: pointer;
}

.todo div i:hover {
    color: #000;
    transform: scale(1.18);
}

/* EDIT MODAL */
.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, .8);
}

.edit-modal .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}

.edit-modal .content input {
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-color .3s;
}

.edit-modal .content input:hover {
    border-color: #000;
}

.edit-modal .content div button {
    padding: 5px 25px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    transition: background .3s, transform .3s;
}

.edit-modal .content div button:hover {
    transform: scale(1.10);
}

.edit-modal .content div button:first-child {
    background: rgba(30, 144, 255, .5);
}

.edit-modal .content div button:last-child {
    background: rgba(240, 128, 128, .5);
}

.edit-modal .content div button:first-child:hover {
    background: rgb(30, 144, 255);
}

.edit-modal .content div button:last-child:hover {
    background: rgb(240, 128, 128);
}